$color-green: #748b75;
$color-blue: #5c80bc;
$color-red: #e95635;
$color-red-light: #ff8484;
$color-violet: #231651;
$color-orange: #ffad69;
$color-gray-light: #f3ece4;

$color-text: #50463a;
$color-text-light: #b1a495;
$color-border: #c4c1bd;
$color-main-light: #ecd6ba;
$color-main: #fef6b7;
$color-main-dark: #c8963e;

$font-family-main: sans-serif;
$font-family-accent: 'Darumadrop One', cursive;
$font-size: 14px;

$padding-h: 15px;

$z-index-pager: 100;
$z-index-search-result: 200;
$z-index-create-icon-background: 300;
